{% extends "layout.html"%}

{% block content%}
  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">We sell best qualities of funitures</h1>
              <p class="color-text-a">
                It is a private Incorporate in Nigeria by a group of experienced and high profied interiors designers and bussinessmen in the country. These great minds embody our values of strength, performance and passion. Our employee have strong connection to these ideas which contributes signficantly to the progressive growth, sucess and leadership of our company. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= About Section ======= -->
    <section class="section-about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 position-relative">
            <div class="about-img-box">
              <img src="static/assets/img/slide-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="sinse-box">
              <h3 class="sinse-title">BestFuniture
                <span></span>
                <br> Sinse 2023
              </h3>
              <p>Art & Creative</p>
            </div>
          </div>
          <div class="col-md-12 section-t8 position-relative">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <img src="static/assets/img/rename.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-lg-2  d-none d-lg-block position-relative">
              </div>
              <div class="col-md-6 col-lg-5 section-md-t3">
                <div class="title-box-d">
                  <h3 class="title-d">Emerald
                    <span class="color-d">Interior</span> Home
                    <br> LTD.
                  </h3>
                </div>
                <p class="color-text-a">
                  It is a private Incorporate in Nigeria by a group of experienced and high profied interiors designers and bussinessmen in the country. These great minds embody our values of strength, performance and passion. Our employee have strong connection to these ideas which contributes signficantly to the progressive growth, sucess and leadership of our company. 
                </p>
                <p class="color-text-a">
                  we develop solutions systems and project methods requires to bring innovations, quality and value to the projects we deliver to our clients .....BY ANI DESMOND..... CEO 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- =======Team Section ======= -->
    <section class="section-agents section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Meet Our Team</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="static/assets/img/agent-7.jpg" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="agent-single.html" class="link-two">Margaret Sotillo
                        <br> Escala</a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>Phone: </strong> +54 356 945234
                    </p>
                    <p>
                      <strong>Email: </strong> agents@example.com
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="static/assets/img/agent-6.jpg" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="agent-single.html" class="link-two">Stiven Spilver
                        <br> Darw</a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>Phone: </strong> +54 356 945234
                    </p>
                    <p>
                      <strong>Email: </strong> agents@example.com
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-dribbble" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="static/assets/img/agent-5.jpg" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="agent-single.html" class="link-two">Emma Toledo
                        <br> Cascada</a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>Phone: </strong> +54 356 945234
                    </p>
                    <p>
                      <strong>Email: </strong> agents@example.com
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-dribbble" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section-->

    <!-- <hr class="offset-md"> -->
    <br><br>
    <div class="container faq">
      <div class="row">
        <div class="col-sm-6">
          <a class="" role="button" data-toggle="collapse" href="#question1" aria-expanded="true" aria-controls="question1">
            <h1 class="h3">How much should I bid?</h1>
          </a>

          <div class="collapse" id="question1">
            <div class="well">
              <p>
                Sir Trendy Shopping more is great for finding deals, as long as you know what you're looking for and how much the item is worth. Having that information is vital to placing bids in correct amount and saving lots of money.
              </p>
            </div>
          </div>
          <br>
          <!-- //// -->

          <a class="" role="button" data-toggle="collapse" href="#question3" aria-expanded="false" aria-controls="question3">
            <h1 class="h3">What's the best way to find my favorite items?</h1>
          </a>

          <div class="collapse" id="question3">
            <div class="well">
              <p>
                If you're sick of trying to remember your searches for all the different types of spellings, all the different sellers you like, and all the different things you collect, Sir Trendy provides you with an easy way to remember - My store.
              </p>
            </div>
          </div>
          <br>
          <!-- //// -->

          <a class="" role="button" data-toggle="collapse" href="#question5" aria-expanded="false" aria-controls="question5">
            <h1 class="h3">What should I use to pay?</h1>
          </a>

          <div class="collapse" id="question5">
            <div class="well">
              <p>
                Although we've heard of issues with PayPal, we still recommend them for nearly all purchases. Nearly all sellers accept PayPal payment, and many purchases are automatically covered for fraud protection. Please check PayPal.com for details on their account protection tips and fraud protection services.
              </p>
            </div>
          </div>
          <br>
          <!-- //// -->
        </div>
        <div class="col-sm-6">
          <a class="" role="button" data-toggle="collapse" href="#question2" aria-expanded="true" aria-controls="question2">
            <h1 class="h3">What's the best way to search?</h1>
          </a>

          <div class="collapse" id="question2">
            <div class="well">
              <p>
                Sir Trendy search engine is pretty good but can be a bit overwhelming if you're not sure what you're looking for, or if you're just browsing. Trendy is constantly working at upgrading its search engine to make things easier to find (it's in their best interest to have as many buyers for items as possible).
              </p>
            </div>
          </div>
          <br>
          <!-- //// -->

          <a class="" role="button" data-toggle="collapse" href="#question4" aria-expanded="false" aria-controls="question4">
            <h1 class="h3">What's a good shipping rate/method?</h1>
          </a>

          <div class="collapse" id="question4">
            <div class="well">
              <p>
                If possible, check with the seller to ask how they'll pack the item. I once received a used laptop that was literally scotch-taped into a used, ripped, USPS priority box that was too small so part of the computer was sticking out - with no padding what-so-ever. If you're getting breakable items, make sure the seller will pack it correctly.
              </p>
            </div>
          </div>
          <br>
          <!-- //// -->

          <a class="" role="button" data-toggle="collapse" href="#question6" aria-expanded="false" aria-controls="question6">
            <h1 class="h3">What should I do if the item is defective/broken/wrong?</h1>
          </a>

          <div class="collapse" id="question6">
            <div class="well">
              <p>
                The first thing to do is to double check the item - make sure it actually is broken. You'll probably need to go over the item description on eBay to verify that it didn't arrive as promised. Next, contact the seller directly and describe the issue with the item.
              </p>
            </div>
          </div>
          <br>
          <!-- //// -->
        </div>
      </div>
  </div>
  </main><!-- End #main -->

 {% endblock content %}